.storyteller-container-html {
  width: 100%;
  height: 100%;
}

.storyteller-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Pangolin', cursive;
}

.storyteller-container .storyteller-main {
  width: 100%;
  height: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.storyteller-container .storyteller-main .storyteller-title {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.storyteller-container .storyteller-main .storyteller-title h1 {
  margin: 0;
}

.storyteller-container .storyteller-main .storyteller-title a {
  text-decoration: none;
  color: black;
}

.storyteller-container .storyteller-main #storyteller-nav-prev,
.storyteller-container .storyteller-main #storyteller-nav-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 48px;
  color: #D5DED9;
}

.storyteller-container .storyteller-main #storyteller-nav-next {
  right: 10px;
}

.storyteller-container .storyteller-main #storyteller-nav-prev {
  left: 10px;
}

.storyteller-container .storyteller-main .storyteller-panel {
  border: 5px solid black;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 20px;
}

.storyteller-container .storyteller-main .storyteller-panel img {
  width: 100%;
}

.storyteller-container .storyteller-main .storyteller-panel .highlighted {
  color: blue;
  font-weight: 700;
  font-size: 22px;
}

.storyteller-container .storyteller-main .storyteller-panel #storyteller-panel-toggle-questions {
  position: absolute;
  bottom: 20%;
  right: 0;
  background: white;
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: -2px;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration {
  height: 20%;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: white;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid black;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration.image-question {
  height: 100%;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration.image-question a {
  width: 50%;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration.image-question a.correct {
  border: 5px solid green;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration.image-question a.wrong {
  border: 5px solid red;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration .storyteller-speaker {
  left: 0;
  position: absolute;
  top: -42px;
  background: white;
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-left: 0;
  border-bottom: 0;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration p {
  margin: 0;
  margin-bottom: 10px;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration .storyteller-panel-question-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration .storyteller-panel-question-row a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 10px 0;
  border: 2px solid black;
  margin: 0 5px;
  text-decoration: none;
  color: black;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration .storyteller-panel-question-row a.correct {
  background: green;
}

.storyteller-container .storyteller-main .storyteller-panel .storyteller-panel-narration .storyteller-panel-question-row a.wrong {
  background: red;
}
/*# sourceMappingURL=storyteller.style.css.map */