.storyteller-container-html {
    width: 100%;
    height: 100%;
}

$accent: #D5DED9;

.storyteller-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;

    .storyteller-main {
        width: 100%;
        height: 100%;
        padding: 50px;
        box-sizing: border-box;
        position: relative;

        .storyteller-title {
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            h1 {
                margin: 0;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        #storyteller-nav-prev,
        #storyteller-nav-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 48px;
            color: $accent;
        }

        #storyteller-nav-next {
            right: 10px;
        }

        #storyteller-nav-prev {
            left: 10px;
        }

        .storyteller-panel {
            border: 5px solid black;
            height: 100%;
            position: relative;
            overflow: hidden;
            font-size: 20px;

            img {
                width: 100%;
            }

            .highlighted {
                color: blue;
                font-weight: 700;
                font-size: 22px;
            }

            #storyteller-panel-toggle-questions {
                position: absolute;
                bottom: 20%;
                right: 0;
                background: white;
                padding: 10px;
                text-decoration: none;
                color: black;
                border: 2px solid black;
                border-right: 0;
                border-bottom: 0;
                margin-bottom: -2px;
            }

            .storyteller-panel-narration {
                height: 20%;
                position: absolute;
                width: 100%;
                bottom: 0;
                background: white;
                padding: 20px;
                box-sizing: border-box;
                border-top: 2px solid black;

                &.image-question {
                    height: 100%;

                    a {
                        width: 50%;

                        &.correct {
                            border: 5px solid green;
                        }

                        &.wrong {
                            border: 5px solid red;
                        }
                    }
                }

                .storyteller-speaker {
                    left: 0;
                    position: absolute;
                    top: -42px;
                    background: white;
                    padding: 10px;
                    text-decoration: none;
                    color: black;
                    border: 2px solid black;
                    border-left: 0;
                    border-bottom: 0;
                }

                p {
                    margin: 0;
                    margin-bottom: 10px;
                }

                .storyteller-panel-question-row {
                    display: flex;
                    margin-bottom: 5px;

                    a {
                        flex-grow: 1;
                        text-align: center;
                        padding: 10px 0;
                        border: 2px solid black;
                        margin: 0 5px;
                        text-decoration: none;
                        color: black;

                        &.correct {
                            background: green;
                        }
                        &.wrong {
                            background: red;
                        }
                    }
                }
            }
            }
    }
}